<%= content_tag :div, "", id: "orders_chart"%>
<table id="leads">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Company</th>
	    <th>Address</th>
	    <th>Total Leads</th>
	    <th>Successful Leads</th>
	    <th>Success Rate (%) </th>
	  </tr>
	</thead>
	<tbody>
	  <% sum = 0 %>
	  <% Lead.all.each do |lead| %>
	    <tr>
	      <td><%= lead.id %></td>
	      <td><%= lead.name %></td>
	      <td><%= lead.address %></td>
	      <td><%= lead.total %></td>
	      <td><%= lead.success %></td>
	      <td><%= (lead.success/lead.total*100).round(1) %></td> 
	    </tr>
		<% sum += (lead.success/lead.total*100).round(1).to_i %>	
	  <% end %>
	</tbody>
</table>

<p><br>  The average lead generation was <%= sum/(Lead.all.length) %> % </br></p>

