<!-- Content div & id important to charting formating, including searching and ordering. -->
<%= content_tag :div, "", id: "orders_chart"%>
<table id="leads">
	<thead>
	  <tr>
	  	<!-- Creates the columns for the lead display table for an affiliate's purchased leads -->
	    <th>#</th>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Phone</th>
	    <th>Address</th>
	    <th>City </th>
	    <th>State </th>
	    <th>Zip </th>
	    <th>Opt-in? </th>
	  </tr>
	</thead>
	<tbody>
	<!-- Itterates of the leads for the affiliate passed in setting the tables values. -->
	  <% @affiliate.lead_sales.all.each do |sale| %>
	  <% lead = sale.student.lead %>
	    <tr>
	      <td><%= lead.id %></td>
	      <td><%= lead.first_name %></td>
	      <td><%= lead.last_name %></td>
	      <td><%= lead.phone %></td>
	      <td><%= lead.address %></td>
	      <td><%= lead.city %></td> 
	      <td><%= lead.state %></td>
	      <td><%= lead.zip %></td>
	      <td><%= lead.opt_in? %></td>
	  <% end %>
	</tbody>
</table>

