<!DOCTYPE html>
<html>
<head>
	<script src='http://www.google.com/jsapi'></script> 
  <title>Quant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<h1>Company Name: <%= Company.all.first.name%></h1>
		<p>This is lead data for <%= Company.all.first.name%> </p>
		<%= yield %>
	</div>
</body>
</html>
